/* 版心 */
.container{
    width: 1000px;
    margin: 0 auto;
}

/* #region顶部导航栏开始 */
.topbar{
    background-color: #ECECEC;
    height: 30px;
    color: rgba(11,94,178,0.85);
}
.topbar .container{
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.topbar .container .slogan span{
    font-size: 16px;
    font-weight:bolder;
    cursor: default;
    width: 150px;
    display: block;
}
.topbar .container .topbar-nav{
    display: flex;
    align-items: center;
}
.topbar .container .topbar-nav .topbar-list{
    display: flex;
    flex-direction: row-reverse;
}
.topbar .container .topbar-nav .topbar-list li{
    margin-right: 15px;
    text-wrap: nowrap;
}
.topbar .container .topbar-list li a{
    color: #031e69;
}
.topbar .container .topbar-list li a:hover{
    color:#fea500;
}
/* #endregion顶部导航栏结束 */

/* #region头部开始 */
.header{
    background-color: #0B5EB2;
}
.header .container{
    background-color: #0B5EB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header .container .logo img{
    height: 60px;
}
.header .container .header-search .header-form{
    display: flex;
    justify-content: flex-end;
}
.header .container .header-search .header-form input{
    height: 40px;
    width: 480px;
    border: 1px solid #fea500;
    font-size: 20px;
    border-radius: 6px 0 0 6px;
    box-sizing: border-box;
}
.header .container .header-search .header-form button{
    width: 100px;
    height: 40px; 
    background-color: #fea500;
    font-size: 20px;
    vertical-align: top;
    background-image: url(../images/search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 38px 8px;
    border-radius: 0 6px 6px 0;
}
/* #endregion头部结束 */

/* #region主导航条开始 */
.main-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    border-bottom: 1px solid #fea500;
}
.main-nav .container .main-nav-left{
    display: flex;
    justify-self: flex-start;
    align-items: center;
}
.main-nav .container .main-nav-left li{
    padding: 0 10px;
    height: 47px;
    display: flex;
    align-items: center;
}
.main-nav .container .main-nav-left li a{
    font-size: 20px;
}
.main-nav .container .main-nav-left li:first-child{
    background-color: #fea500;
}
.main-nav .container .main-nav-left li:first-child a{
    color: #0B5EB2;
    font-weight: bolder;
}
.main-nav .container .main-nav-left li a:hover{
    color: #fea500;
}
.main-nav .container .main-nav-left li:first-child a:hover{
    color: white;
}
.main-nav .container .main-nav-right{
    display: flex;
    align-items: center;
    height: 47px;
    width: 80px;
    padding: 0 10px;
    background-color: #031e69;
}
.main-nav .container .main-nav-right a{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.main-nav .container .main-nav-right a:hover{
    color: #fea500;
}
/* #endregion主导航条结束 */

/* #region主要内容区开始 */
.main-content{
    margin-top: 10px;
}
.main-content .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
    /* 侧边栏 */
.main-content .container .main-content-slide-nav{
    border-left: 1px solid #fea50080;
}
.main-content .container .main-content-slide-nav li{
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content .container .main-content-slide-nav li:first-child{
    background-color: #0B5EB2;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    cursor: default;
}
.main-content .container .main-content-slide-nav li a{
    font-size: 15px;
}

    /* 信息框 */
.main-content .container .main-content-info .account-info{
    display: flex;
    flex-direction: row;
}
.main-content .container .main-content-info .account-info img{
    height: 120px;
    width: 120px;
    margin-right:10px;
}
.main-content .container .main-content-info .account-info .account-info-list .user-name{
    font-size: 18px;
    font-weight: bolder;
}
.main-content .container .main-content-info .account-info .account-info-list .phone{
    margin-top: 10px;
}
.main-content .container .main-content-info .account-info .account-info-list .edit a{
    color: #0B5EB2;
}
.main-content .container .main-content-info .account-info .account-info-list .edit a:hover{
    color: #fea500;
}
    /* 楼层 */
.main-content .container .floor{
    width: 900px;
    box-sizing: border-box;
}
.main-content .container .content-floor{
    margin: 10px 10px 0 0;
    border: 1px solid #cccccc;
}
.main-content .container .content-floor .title{
    background-color: #e2edfb;
    margin: 2px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.main-content .container .content-floor .content-floor-info{
    border-top:1px solid #cccccc;
}
.main-content .container .content-floor .content-floor-info ul{
    display: flex;
    flex-direction: row;
}
.main-content .container .content-floor .content-floor-info li{
    margin: 10px;
    font-size: 16px;
}
.main-content .container .content-floor .content-floor-info li:first-child{
    font-weight: bolder;
}
.main-content .container .content-floor .content-floor-info li a:hover{
    color: #fea500;
}
.main-content .container .content-floor .foo{
    height: 180px;
    border-top: 1px solid #cccccc;
}
.main-content .container .content-floor-sep{
    display: flex;
    flex-direction: row;
    margin: 0;
    border: 0;
}
.main-content .container .content-floor-sep .title{
    background-color: #e2edfb;
    margin: 2px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.main-content .container .content-floor-sep .content-floor-left{
    margin: 10px 10px 0 0;
    border: 1px solid #cccccc;
    flex-grow: 1;
}
.main-content .container .content-floor-sep .content-floor-right{
    margin: 10px 10px 0 0;
    border: 1px solid #cccccc;
    flex-grow: 1;
}
/* #endregion主要内容区结束 */

/* #region页脚开始 */
.footer{
    margin-top: 10px;
    padding: 50px 0;
    border-top: 1px solid #ccc;
}
.footer .container .footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer .container .footer-nav li a:hover{
    color:#fea500;
}
.footer .container .footer-info{
    text-align: center;
    margin-top: 20px;
}
/* #endregion页脚结束 */
